__pycache__/
*.pyc
build/
dist/
*.spec
/dev-files
dc2-reforged.json

.DS_Store

.vscode/

scripts/deploy-deck.sh

Textures/OptionsMenu/btn_patch_preview.png

Textures/OptionsMenu/btn_patch_swizzled.bin

Textures/OptionsMenu/button_uvs.json

Textures/OptionsMenu/btn_patch.bin
